// Colors
$primary: #0f1d07;
$primary-mute: rgba(21, 7, 29, 60);
$secodary: #fffff0;
$neutral: #fcfdff;
$support: #5cff46;
$secondary-tint: #f3f3e9;
$secodary-accent: #e9e9f3;
$support-mint: #43a636;

// Fonts
$font-montreal: var(--font-montreal);
