@use "sass:map";
// Colors
$primary: #0f1d07;
$primary-mute: rgba(21, 7, 29, 0.6);
$secondary: #fffff0;
$neutral: #fcfdff;
$support: #5cff46;
$secondary-tint: #f3f3e9;
$secodary-accent: #e9e9f3;
$support-mint: #43a636;

// Fonts
$font-montreal: var(--font-montreal);
$font-montreal-italic: var(--font-montreal-italic);

// Breaking points
$breakpoints: (
   "xs": 320px,
   "s": 767px,
   "sm": 912px,
   "md": 1024px,
   "lg": 1280px,
   "xxl": 1920px,
);
// Mixins
@mixin between-breakpoints($start, $end) {
   @media only screen and (min-width: map.get($breakpoints, $start)) and (max-width: map.get($breakpoints, $end)) {
      @content;
   }
}
@mixin min-breakpoint($breakpoint) {
   @if map.has-key($breakpoints, $breakpoint) {
      @media only screen and (min-width: map.get($breakpoints, $breakpoint)) {
         @content;
      }
   } @else {
      @media (min-width: $breakpoint) {
         @content;
      }
   }
}
@mixin max-breakpoint($breakpoint) {
   @if map.has-key($breakpoints, $breakpoint) {
      @media only screen and (max-width: map.get($breakpoints, $breakpoint)) {
         @content;
      }
   } @else {
      @media (max-width: $breakpoint) {
         @content;
      }
   }
}
