@use "@/global-styles/variables.scss" as *;
@use "@/global-styles/shared-styles.scss" as *;

.header {
   width: 100%;
   height: 80px;
   position: fixed;
   top: 20px;
   left: 0px;
   z-index: 1000;
   @include max-breakpoint("md") {
      height: 60px;
   }
}

.header__navigation-wrapper {
   border: 1px solid red;
   width: 100%;
   height: 100%;
   position: relative;
   @include flex-layout(row, center, center, none);
}

.header__navigation-bg-layer {
   height: 100%;
   position: absolute;
   background-color: rgba(255, 255, 255, 0.7);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   z-index: 1;
   // clip-path: inset(0% 0% 0% 0% round 30px);
   // @include max-breakpoint("sm") {
   //    clip-path: inset(0% 0% 0% 0% round 20px);
   // }
}

.header__navigation {
   width: 45rem;
   border: 1px solid red;
   z-index: 10;
   @include flex-layout(row, center, space-between, none);
   padding: 0px 20px;
}

.header__button-wrapper {
   // position: absolute;
   position: relative;
   transform: translateX();
}

.header__title-wrapper,
.header__button-wrapper {
   border: 1px solid red;
   // flex: 1;
   // position: relative;
   // @include flex-layout(row, center, none, none);
   // container-type: inline-size;
}

.header__title-wrapper {
   justify-content: flex-end;
}

.header__title-container {
   @include flex-layout(row, none, none, 2px);
   --move-left: -100cqw;
   // transform: translateX(calc(var(--move-left) + 100%));
}
.header__button-container {
   // transform: translateX(calc(100cqw - 100%));
}

.header__title {
   font-family: $font-montreal;
   font-size: 2rem;
   line-height: 38.4px;
   font-weight: 530;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: $primary;
   @include max-breakpoint("md") {
      font-size: 1.5rem;
      line-height: 26.4px;
      letter-spacing: 2.133px;
   }
}
.header__title-icon {
   height: 24px;
   align-self: flex-end;
}

//* NAVIGATION STYLES **//
.navigation {
   z-index: 10;
}
.navigation__menu-container {
   list-style: none;
   @include flex-layout(row, none, none, 15px);
}

.navigation__menu-container.large {
   @include max-breakpoint("sm") {
      display: none;
   }
}

.navigation__menu-container.small {
   display: none;
   @include max-breakpoint("sm") {
      display: flex;
      top: 60px;
      left: 0px;
      padding-top: 10px;
      position: absolute;
      flex-direction: column;
      gap: 20px;
      visibility: hidden;
   }
}

.navigation__menu-item {
   border-radius: 15px;
   width: max-content;
   padding: 5px 10px;
   font-family: $font-montreal;
   font-weight: 530;
   font-size: 1rem;
   line-height: 19.2px;
   color: $primary;
   cursor: pointer;
   background-color: transparent;
   transition: background-color 0.5s ease-out, color 0.3s ease-out;
   @include max-breakpoint("sm") {
      font-size: 1.73975rem;
      line-height: 33.403px;
      padding: 5px 15px;
   }
}

// .header__menu-container.large .header__menu-item:hover:not(.active) {
//    color: $neutral;
//    background-color: rgba(0, 0, 0, 0.3);
// }

.navigation__menu-item.active {
   border-radius: 15px;
   color: $support;
   background-color: $primary;
}

// .header__menu-bar-wrapper {
//    display: none;
//    @include max-breakpoint("sm") {
//       display: block;
//       position: absolute;
//       right: 0px;
//       top: -5px;
//    }
// }

// .header__menu-bar-button {
//    background: none;
//    border: none;
//    outline: none;
// }

// .header__navigation-sentinel {
//    // position: absolute;
//    // width: 55rem;
//    // @include max-breakpoint("md") {
//    //    width: 50rem;
//    // }
//    // @include max-breakpoint("sm") {
//    //    width: 18rem;
//    // }
// }
