@use "@/global-styles/variables.scss" as *;
@use "@/global-styles/shared-styles.scss" as *;

.modal {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 1000;
   opacity: 0;
   pointer-events: none;
   touch-action: none;
   transition: opacity 0.3s ease-in-out;
}
.modal.modal-active {
   opacity: 1;
   pointer-events: all;
   touch-action: all;
}
.modal__backdrop {
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}
.modal__inner-wrapper {
   position: absolute;
   inset: 0;
   width: 100%;
   min-height: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}
.modal__inner-child {
   width: 100%;
   position: relative;
   @include flex-layout(row, none, center, none);
}
.modal__close-trigger {
   position: absolute;
   inset: 0;
}
.modal__content-wrapper {
   position: relative;
   margin-top: max(20vh, 200px);
   padding-bottom: 50px;
   width: clamp(1200px, calc(100% - 100px), 1500px);
   transform: translateY(100%);
   @include max-breakpoint("md") {
      margin-top: max(40vh, 300px);
      width: calc(100% - 60px);
      border-radius: 40px 40px 0px 0px;
   }
   @include max-breakpoint("820px") {
      margin-top: max(35vh, 250px);
   }
   @include max-breakpoint("s") {
      margin-top: max(20vh, 100px);
      width: calc(100% - 40px);
      border-radius: 40px 40px 0px 0px;
   }
}
.modal__content-bg {
   position: absolute;
   inset: 0;
   border-radius: 60px 60px 0px 0px;
   z-index: -1;
   @include max-breakpoint("s") {
      border-radius: 30px 30px 0px 0px;
   }
}
.modal__content-bg.secondary-tint {
   background-color: $secondary-tint;
}
.modal__content-bg.neutral {
   background-color: $neutral;
}
.modal__close-button {
   border: none;
   outline: none;
   width: 49px;
   height: 49px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   right: 40px;
   top: 40px;
   @include flex-layout(row, center, center, none);
   cursor: pointer;
   z-index: 50;
   @include max-breakpoint("s") {
      width: 35px;
      height: 35px;
      right: 30px;
      top: 30px;
   }
}
