@use "@/global-styles/variables.scss" as *;
@use "@/global-styles/shared-styles.scss" as *;

.project-details {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 1000;
   opacity: 0;
   pointer-events: none;
   touch-action: none;
   transition: opacity 0.3s ease-in-out;
}
.project-details.modal-active {
   opacity: 1;
   pointer-events: all;
   touch-action: all;
}
.project-details__layer {
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   background: rgba(0, 0, 0, 0.5);
   border: 1px solid green;
   z-index: -1;
}
.project-details__inner-wrapper {
   position: absolute;
   inset: 0;
   width: 100%;
   min-height: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}
.project-details__content-wrapper-outer {
   width: 100%;
   position: relative;
   @include flex-layout(row, none, center, none);
}
.project-details__modal-close-trigger {
   position: absolute;
   inset: 0;
}
.project-details__content-wrapper {
   margin-top: max(20vh, 200px);
   padding-bottom: 50px;
   width: clamp(1200px, calc(100% - 100px), 1500px);
   position: relative;
   transform: translateY(100%);
   @include max-breakpoint("md") {
      margin-top: max(10vh, 100px);
      width: calc(100% - 60px);
      border-radius: 40px 40px 0px 0px;
   }
   @include max-breakpoint("s") {
      width: calc(100% - 40px);
      border-radius: 40px 40px 0px 0px;
   }
}
.project-details__content-bg {
   background-color: $secondary-tint;
   position: absolute;
   inset: 0;
   border-radius: 60px 60px 0px 0px;
   z-index: -1;
}
.project-details__content {
   width: 100%;
   min-height: 100vh;
   @include flex-layout(row, none, none, 100px);
   @include max-breakpoint("md") {
      min-height: 100dvh;
      flex-direction: column;
      gap: 30px;
   }
}
.project-details__close-button {
   border: none;
   outline: none;
   width: 49px;
   height: 49px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   right: 40px;
   top: 40px;
   @include flex-layout(row, center, center, none);
   cursor: pointer;
   z-index: 50;
   @include max-breakpoint("s") {
      width: 35px;
      height: 35px;
      right: 30px;
      top: 30px;
   }
}
.project-details__content-left {
   flex-shrink: 0;
   margin: 50px 0px 0px 50px;
   @include max-breakpoint("md") {
      margin: 30px 30px 0px 30px;
   }
   @include max-breakpoint("s") {
      margin: 30px 20px 0px 20px;
   }
}
.project-details__title {
   font-family: $font-montreal, sans-serif;
   font-size: 2.25rem;
   line-height: 43.2px;
   font-weight: 530;
   text-transform: uppercase;
   color: $primary;
   @include max-breakpoint("s") {
      font-size: 1.5rem;
      line-height: 28.8px;
      margin-left: 10px;
   }
}
.project-details__action-wrapper {
   margin-top: 20px;
   @include flex-layout(row, center, none, 30px);
   @include max-breakpoint("s") {
      margin-top: 15px;
      gap: 20px;
   }
}
.project-details__category {
   font-family: $font-montreal, sans-serif;
   font-size: 1.25rem;
   line-height: 28px;
   font-weight: 530;
   color: $primary;
   @include max-breakpoint("s") {
      font-size: 1.2rem;
      line-height: 23.04px;
   }
}
.project-details__heading {
   margin-top: 30px;
   max-width: 500px;
   font-family: $font-montreal, sans-serif;
   font-size: 1.5rem;
   line-height: 28.8px;
   font-weight: 530;
   color: $primary;
   @include max-breakpoint("md") {
      max-width: 100%;
      font-size: 1.4rem;
      line-height: 26.88px;
   }
}
.project-details__text {
   margin-top: 20px;
   max-width: 500px;
   font-family: $font-montreal, sans-serif;
   font-size: clamp(1rem, 2vw, 1.3rem);
   line-height: 26.2px;
   font-weight: 400;
   color: $primary;
   @include max-breakpoint("md") {
      max-width: 100%;
   }
}
.project-details__tech-wrapper {
   margin-top: 20px;
   @include flex-layout(column, none, none, 15px);
}
.project-details__tech-title {
   font-family: $font-montreal, sans-serif;
   font-size: 1.125rem;
   line-height: 21.6px;
   font-weight: 530;
   color: $primary;
}
.project-details__tech-list {
   list-style: none;
   @include flex-layout(column, none, none, 10px);
}
.project-details__tech-list-item {
   font-family: $font-montreal, sans-serif;
   font-size: 1rem;
   line-height: 19.2px;
   font-weight: 530;
   color: $primary-mute;
}
.project-details__content-right {
   width: 100%;
   max-width: 100%;
   margin: 30px 30px 0px 0px;
   @include flex-layout(column, center, none, 30px);
   @include max-breakpoint("md") {
      margin: 0px;
   }
}

.project-details__top-image-container {
   position: relative;
   width: 100%;
   height: auto;
   aspect-ratio: 16 / 8;
   border-radius: 30px;
   @include max-breakpoint("md") {
      width: calc(100% - 30px);
      border-radius: 30px;
   }
   @include max-breakpoint("s") {
      border-radius: 20px;
   }
}
.project-details__image {
   border-radius: inherit;
   object-fit: cover;
   object-position: left top;
}
.project-details__bottom-image-wrapper {
   width: 100%;
   @include flex-layout(row, none, none, 30px);
   @include max-breakpoint("md") {
      width: calc(100% - 30px);
      gap: 30px;
   }
   @include max-breakpoint("s") {
      flex-direction: column;
   }
}
.project-details__bottom-image-container {
   position: relative;
   width: 100%;
   height: auto;
   aspect-ratio: 3 / 4;
   border-radius: 30px;
   @include max-breakpoint("s") {
      border-radius: 20px;
   }
}
